<template name="entry">
  <div class="entry row">
    <div class="sidebar span4">
      {{#with currentDoc}}
        <dl class="dl-horizontal">
          <dt>ID:</dt>
          <dd>{{_id}}</dd>
          
          <dt>Purpose:</dt>
          <dd>
            <a href="#" class="purpose" data-type="text" data-title="Enter Reimbursement Purpose">
              {{purpose}}
            </a>
          </dd>
          
          <dt>Description:</dt>
          <dd>
            <a href="#" class="desc" data-type="textarea"
               data-title="Enter Reimbursement Description">{{desc}}</a>
          </dd>

          <dt>Business Purpose:</dt>
          <dd>
            <a href="#" class="bpurpose" data-type="textarea"
               data-title="Enter Business Purpose">{{bpurpose}}</a>
          </dd>
        </dl>
      {{/with}}
    </div>

    <div class="span1"></div>
    
    <div class="span4">
      <ul class="thumbnails">
        {{#each currentReceipts}}
        <li class="span2"><a id="{{_id}}" class="thumbnail"><img src="{{url}}"/></a></li>
        {{/each}}
      </ul>
      <div id="dropzone">
        Drop receipt images here
      </div>
    </div>
  </div>
</template>