<head>
  <title>Reimbursement Tracker!</title>
</head>

<body>
    {{> main}}
</body>

<template name="main">
    <div class="container full-height">
        <div class="row upper">
            <div class="span3 full-height">
                {{> docList}}
            </div>
            <div class="span9 editor-container full-height">
                {{> editor}}
            </div>
        </div>
    </div>
</template>

<template name="docList">
    <h3>Pick a reimbursement form...</h3>
    <ul class="nav nav-pills nav-stacked" id="list">
    {{#each documents}}
      {{> docItem}}
    {{/each}}
    </ul>
    <h3>...or start a new one:</h3>
    <button class="btn btn-warning">New Reimbursement</button>
</template>

<template name="docItem">
    <li class="{{#if current}}active{{/if}}">
         <a href="#">{{title}}</a>
    </li>
</template>

<template name="editor">
  {{#withif docid}}
    {{> docTitle}}
    {{> entry}}
  {{/withif}}
</template>

<template name="docTitle">
    <div class="navbar">
        <div class="navbar-inner">
            <form class="navbar-form pull-left">
                <input class="name input-xlarge" type="text" value="{{title}}">
                <button class="delete btn btn-danger btn-small">Delete this document</button>
            </form>
        </div>
    </div>
</template>

